{% extends 'base.html' %}


{% block content %}
<main>
    <h1>About</h1>
    <img src="https://uploads-ssl.webflow.com/64dd77fd3f5bec2bce3699d0/64dd77fd3f5bec2bce369a27_Ellipse%2024.png">
    <p>
        {{about}}
    </p>
    <p class="flex">
        Tyler Primavera is a veterinarian that is currently learning software engineering. While he enjoys making fat jokes about pets, obesity is a serious deal.
    </p>
    <p>
        Obesity can lead to diabetes, torn ligaments, and a reduced quality of life. This website is a prototype for a future website to help reduce pet obesity in the future.
    </p>
</main>


{% endblock content %}
