{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>Is my dog fat?</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Find out now</button>

        </form>
        <img class="small" src="https://static.wixstatic.com/media/73e740_2e13944c6ea247a4bdf294d69db1ca78~mv2.jpg/v1/fill/w_1119,h_608,al_c/73e740_2e13944c6ea247a4bdf294d69db1ca78~mv2.jpg">
    </div>

</main>
{% endblock content %}
