{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>Edit dog profile</h1>
        <form method="post">
            {% csrf_token %}
            {{ dog_form.as_p }}
            <button>Submit</button>
        </form>
    </div>

</main>
{% endblock content %}
