{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Body Condition</title>
    <link href="static/dogs.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'dog_list' %}">main page</a>
            <a href="{% url 'create_dog' %}">add dog profile</a>
            <a href="{% url 'about' %}">about</a>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>
