
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.thick {
    font-weight:bold;
    color:yellow;
}

.small {
    height: 200px;
    width: 300px;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    padding: 100px 10%;
    box-sizing: border-box;
}

li, a, button {
    font-family: "Motserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: rgb(1, 5, 6);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    padding: 10px 10%;
}

body {
    background-color: white
}

.flex {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}


html {
    box-sizing: border-box;
    font: 'Lucida Sans Unicode';
}


main {
    position: absolute;
}


img {
    height: 200px;
    width: 300px;
}

nav > a {
    position: sticky; top:0;
    transition: all 0.3s ease 0s;
    display: inline-block;
    color: blue;
    font: bold;
    padding: 4px 1px;
    border: 10px solid transparent;
    margin: 5px;
    display: inline-block


}
nav > a:hover {
    color: white;
}



nav ul {
    border: 1px solid transparent;
}


header {
    background-color: lightblue;
    box-sizing: inherit;
}

a {
    color: blue;
}
